* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;
  box-shadow: inset 0 0 200px #020;
  overflow: auto;
  color: #0f0;
  font-size: 16px;
  background: linear-gradient(180deg, #010 0, #111311);
  animation: twitch 1s infinite;
  background: repeating-linear-gradient(0deg, #000, #000 2px, #020 0, #020 4px);
}

.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.container .content .title {
  letter-spacing: 1px;
  white-space: nowrap;
}

.container .content #passwordForm {
  margin-top: 15px;
  display: flex;
}

.container .content #passwordForm .inputContainer {
  position: relative;
}

.container .content #passwordForm .inputContainer #passwordInput {
  border: 1px solid #fff;
  border-right: none;
  padding: 12px 16px;
  border-radius: 6px 0 0 6px;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
}

.container .content #passwordForm .inputContainer #passwordInput::placeholder {
  color: #fff;
  font-size: 1.1rem;
}

.container .content #passwordForm .inputContainer i {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.container .content #passwordForm .inputContainer i.fa-eye-slash {
  display: none;
}

.container .content #passwordForm .inputContainer.visible .fa-eye {
  display: none;
}

.container .content #passwordForm .inputContainer.visible .fa-eye-slash {
  display: block;
}

.container .content #passwordForm button {
  color: #fff;
  font-size: 1.2rem;
  background: #069d06;
  border: 1px solid #fff;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  padding: 6px 8px;
  pointer-events: none;
  opacity: 0.7;
}

.container .content #passwordForm button.abled {
  pointer-events: all;
  opacity: 1;
}

.container .content .offer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 5px;
}

.container .content .offer .generate {
  background-color: yellow;
  padding: 12px 14px;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  min-width: 170px;
  border: none;
}

.container .content .offer .copy {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  display: none;
}

.container .content .offer .copy::after {
  content: "Copy password";
  position: absolute;
  white-space: nowrap;
  border: 1px dashed #fff;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.8rem;
  top: 5px;
  right: -5px;
  transform: translate(100%, -100%);
  opacity: 0;
  transition: 0.3s ease all;
}

.container .content .offer .copy:hover::after {
  opacity: 0.7;
}

.container .content .offer .copy i {
  font-size: 1rem;
}

.container .content .offer .copyMessage {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  display: none;
}

.container .content .offer.clicked .copy {
  display: block;
}

.container .content .offer.copied .copyMessage {
  display: block;
}

.container .content ul.messages {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .content ul.messages li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}

.container .content ul.messages li .status {
  min-width: 18px;
  min-height: 18px;
  border-radius: 50%;
  background-color: green;
}

.container .content ul.messages li .status.true {
  background-color: green;
}

.container .content ul.messages li .status.false {
  background-color: red;
}

.container .content ul.messages li .status.half {
  background-color: yellow;
}

.container .content ul.messages li .text {
  color: #fff;
}

.container .content .results {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.container .content .results .score {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

.container .content .results .result {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 576px) {
  .container .content {
    max-width: 90%;
  }
  .container .content #passwordForm #passwordInput {
    font-size: 1rem;
    padding: 10px 14px;
  }
  .container .content #passwordForm #passwordInput::placeholder {
    font-size: 1rem;
  }
  .container .content .offer .generate {
    padding: 10px 12px;
  }
  .container .content ul.messages {
    gap: 10px;
  }
  .container .content ul.messages li {
    font-size: 0.9rem;
    gap: 10px;
  }
  .container .content ul.messages li .status {
    max-width: 12px;
    max-height: 12px;
  }
  .container .content .results {
    margin-top: 15px;
  }
  .container .content .results .score {
    font-size: 1.25rem;
  }
  .container .content .results .result {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=style.css.map */